@page "/folders/details"
@using Microsoft.EntityFrameworkCore
@using LockWise.Data.Models
@inject IDbContextFactory<LockWise.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Folder</h2>
    <hr />
    @if (folder is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@folder.Name</dd>
        </dl>
        <div>
            <a href="@($"/folders/edit?id={folder.Id}")">Edit</a> |
            <a href="@($"/folders")">Back to List</a>
        </div>
    }
</div>

@code {
    private Folder? folder;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        folder = await context.Folder.FirstOrDefaultAsync(m => m.Id == Id);

        if (folder is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
