@page "/folders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LockWise.Data.Models
@using LockWise.Data

@implements IAsyncDisposable
@inject IDbContextFactory<LockWise.Data.ApplicationDbContext> DbFactory

<PageTitle>Folders</PageTitle>

<QuickGrid Class="table" Items="context.Folder">
    <PropertyColumn Property="folder => folder.Id" />
    <PropertyColumn Property="folder => folder.Name" />
    <TemplateColumn Context="folder">
        <a href="@($"folders/edit?id={folder.Id}")">Edit</a> |
        <a href="@($"folders/details?id={folder.Id}")">Details</a> |
        <a href="@($"folders/delete?id={folder.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>


@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
